body {
    text-align: center;
}

/* Headings */

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

/* Table */

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

/* Form */

input[type=number] {
    width: 6em;
}

/* Div */

.center {
    margin: auto;
}

.designCanvas {
    margin-top: 1.5em;
    padding: 1em;
    width: 60%;
    border: 30px solid olive;
    border-right-color: lightblue;
}

.designCanvas * {
    background-color: white;
}
